*{
    background-color: bisque;
}

.container{
    background-color: aliceblue;
    width: 800px;
    height: 500px;
    border: 2px solid red;
    margin: 20px;
    padding: 5px;
    display: flex;
    /* align-items:flex-end;
    justify-content: space-around; */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.item-1-3{
background-color: lightblue;
height: 100px;
margin: 20px;
width: 100%;

}

.item-2{
    background-color: lightblue;
    height: 100px;
    margin: 20px;
    width: 60%;
}