*{
    background-color: pink;
}

.flex-container{
    height: 500px;
    background-color: aliceblue;
    display: flex;
    /* justify-content: space-around; */
    align-items:flex-end;
    flex-wrap: wrap;
    align-content: space-around;
    gap: 20px;

}

.flex-element{
    background-color: chartreuse;
    margin: 5px;
    /* width: 50px; */
    height: 50px;

}

#div-d{
    /* align-self: center; */
    background-color: blue;
    /* order:-1; */
    flex-basis: 50px;
    flex-grow: 6;
    flex-shrink: 10;
}

(-2,-1,0,1,2)